.game-zone{
    position: relative;
    min-height:100vh;
    padding: 0;
    margin: 0;
    background-image: url("../sprites/back.png");
}

.car{
    position: absolute;
    width: 40px;
    height: 74px;
    background-image: url(../sprites/car1.png);
    background-repeat: no-repeat;
}

.bullet{
    position: absolute;
    height: 16px;
    width: 16px;

    background-image: url(../sprites/bullet.png);
}